<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Recipe Manager: @ViewBag.Title</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css" asp-fallback-href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>Recipe Manager</header>
    <section>
        <div class="container body-content">
            @RenderBody()
        </div>
    </section>
<footer>
    <p>&copy; @DateTime.Now.Year Recipe Manager</p>
</footer>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js" asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js"
            integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js" asp-fallback-src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @RenderSection("Scripts", false)
</body>
</html>