@page

<h1 class="display-3" style="margin-bottom: 50px">Oops...</h1>

<p class="lead">
    Looks like that recipe flopped. We're not sure why, but we're sorry it happened. Please try something different and hopefully this time it will work!
</p>
